html, body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("https://i.imgur.com/uQh1khq.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: rgb(99, 99, 206);
    text-decoration: underline;
    font-size: 50px;

}

ol > li{
    margin-top: 30px ;
    margin-bottom: 30px;
    justify-content: center;
    align-content: flex-end;
    color: rgba(139, 216, 210, 0.705);
    font-size: 30px;
}   

ul > li{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;

}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin: 0;
    border: 1px blue solid    ;
}

img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

#image-super {
    width: 600px;
    height: 300px;
}

form {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgba(139, 216, 210, 0.705);
    font-size: 20px;
}

input{
    margin-right: 10px;
}

h2 {
    color: rgba(139, 216, 210, 0.705);
}